*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}